<div class="full-page-layout">
  <app-navbar (menuToggle)="toggleSidebar()"></app-navbar>

  <div [class.sidebar-collapsed]="!isSidebarOpen"
       [class.sidebar-open]="isSidebarOpen"
       class="layout-content-area">
    <app-profile-sidebar [collapsed]="!isSidebarOpen" (toggle)="toggleSidebar()"></app-profile-sidebar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>

  <app-footer></app-footer>
</div>

<app-notification></app-notification>
<app-confirm-dialog></app-confirm-dialog>
